.jumbotron {
    background-color: rgb(94, 206, 169);
    color: black;
    margin-top: 40px;
}
.btn {
    background-color: beige;
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    height: 100%;
    background-color: rgb(94, 206, 169);
    color:rgb(173, 4, 60);
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel {
    flex:1 250px;
    padding: 2px 0px 2px 0p;
}

.btn-reserva {
    width: 100%;
    
    
}
.footer-adress-icon {
    padding-right: 10px;
}

ul {
    list-style: none;
}
